<main>
    <div class="container">

        <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
            <h1>403</h1>
            <h2>You don't belong to this subject.</h2>
            <a class="btn" asp-action="Dashboard">Back to home</a>
        </section>
    </div>
</main><!-- End #main -->