<main id="main" class="main">
    <img class="img-fluid" src="~/img/success.png">
    <a class="btn btn-outline-success" asp-action="SendNotification" asp-controller="Teacher">Send Another Notification</a>
</main>