<main id="main" class="main">
    <div class="container mt-5">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Student</th>
                    <th scope="col">1 Sep 2024</th>
                    <th scope="col">2 Sep 2024</th>
                    <th scope="col">3 Sep 2024</th>
                    <th scope="col">4 Sep 2024</th>
                    <th scope="col">5 Sep 2024</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Alex</th>
                    <td>10</td>
                    <td></td>
                    <td>8</td>
                    <td>7</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Bob</th>
                    <td></td>
                    <td>5</td>
                    <td>8</td>
                    <td></td>
                    <td>10</td>
                </tr>
                <tr>
                    <th scope="row">Cameron</th>
                    <td></td>
                    <td></td>
                    <td>4</td>
                    <td></td>
                    <td>a</td>
                </tr>
                <tr>
                    <th scope="row">Danny</th>
                    <td>7</td>
                    <td></td>
                    <td></td>
                    <td>a</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Eric</th>
                    <td>a</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example" class="text-dark text-end">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link text-dark" href="#" aria-label="Previous">
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link text-dark" href="#" aria-label="Next">
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</main>